.sobreSlider{
    background-color: rgba(211, 211, 211, 0.486);
    width: 20%;
    height: 60%;
    padding: 30px;
    position: absolute;
    top: 65%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px black;
    overflow-y:scroll;
}

.sobreSlider::-webkit-scrollbar {
    width: 10px;
}

.sobreSlider::-webkit-scrollbar-thumb {
    background-color: rgb(41, 28, 28);
    border-radius: 5px;
}


.sobreSlider h3{
    font-size: 200%;
    padding-left: 5%;
    color: white;
}

.contenidoSlideCategoria{
    color: rgb(6, 16, 104);
    font-size: 100%;
    text-align: justify;
}

.precioSliderCategoria{
    padding-top: 25%;
    padding-left: 5%;
    color: rgb(255, 255, 255);
    font-size: 175%;
    text-align:right;
}

.divComprarLink{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px 20px;
    border-right: 30%;
}


.comprarLink{
    text-decoration: none;
    color: white;
    text-align: right;
}

.comprarLink p{
    padding-left:10px;
    padding-right: 10px;
    font-size:larger;
}

.comprarLink p:hover{
    border-radius: 10px;
    z-index: 9999;
    background-color: #db0205;
    animation: shadow-drop-2-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-drop-2-center {
    0% {
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        transform: translateZ(50px);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}



.mainSinVJ{
    display: flex;
    
}

.descripcionTotal{
    background-color: rgb(8, 20, 126);
    animation: shadow-drop-2-center 0.4ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    color: white;

}

main div div ul{
    list-style: none;
}

main div div ul li h1{
    padding-left: 2.5%;
}

main div div ul li p{
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
}

.espacioIzquierdoDescripcion {
    padding-left: 10%;
}

.espacioDerechoDescripcion {
    padding-right: 10%;
}
